.footer__column-link {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column-link:last-of-type {
  margin-bottom: 16px;
}

.footer__column-link:hover {
  transition: opacity 2s ease;
  opacity: 0.5;
}
