.table__text {
  /*border: red 1px solid;*/
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__text:not(:first-of-type) {
  /*border: blueviolet 1px solid;*/
  margin-top: 20px;
}
