.khan__buy-link {
  margin: 0;
  /* margin-left: 48px; */
  padding: 0;
  color: #2f80ed;
  text-decoration: none;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  /* position: absolute; */
}

.khan__buy-link:hover {
  transition: opacity 2s ease;
  opacity: 0.5;
}
